/* ===================================================================
   SKETCH APP CONTAINER
   =================================================================== */

.sketch-app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

.sketch-app-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
